body {
  overflow-x: hidden;
  color: chocolate;
}
/* Navbar */
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 30px;
  padding-block: 20px;
  z-index: 20px;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 1px 6px 10px slategray;
}

.navbar > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.navbar > nav > ul {
  list-style: none;
}

.navbar > nav > ul > li > a {
  text-decoration: none;
  border-radius: 5px;
  background-color: azure;
}
.navbar > nav > ul > li > a:hover {
  box-shadow: 2px 6px 2px thistle;
  transition: box-shadow 0.3s linear;
}

/* Hero */
.hero {
  background-image: url("../hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: calc(100vw + 41px);
  height: 100vh;
  box-shadow: 2px 10px 6px slategray;
}

.hero > div {
  font-size: 2em;
  padding-top: 200px;
  padding-left: 50px;
}

.headquarter {
  width: calc(100vw + 40px);
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding-inline: 100px;
  padding: 100px;
}

.headquarter > div {
  display: flex;
  gap: 20px;
  align-items: center;
}
.headquarter > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headquarter > div > div > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Action */
.action {
  margin-inline: auto;
  max-width: 100vw;
}

.action > h2 {
  text-align: center;
  margin-bottom: 30px;
}

.action > div {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.action > div > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.action > div > textarea {
  min-width: 100px;
  height: 300px;
  margin: auto;
}

footer {
  margin-top: 50px;
  width: calc(100vw + 40px);
  height: 100px;
  background-color: blueviolet;
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .navbar > nav > ul {
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
  }
  .navbar > nav > ul > li > a {
    padding-inline: 20px;
    padding-block: 10px;
    font-size: 25px;
    font-weight: 800;
  }
}

@media (min-width: 1024px) {
  .headquarter > div > div > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .action div {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .action > div > textarea {
    width: 700px;
    height: 400px;
  }
}

@media (min-width: 1280px) {
}
